/* Error 404*/
#main{
    height: auto;
    padding-top: 100px;
    padding-bottom: 80px;
}
.container-error{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container-error-text{
    display: flex;
    flex-direction:column;
    align-items:center;
    margin-bottom: 40px;
    padding-top: 40px;
}
.container-error-text h2{
    font-size:  8em;
    font-weight: 900;
    color: rgba(0,0,0,.80);
}
.container-error-text span{
    font-size: 1em;
    font-weight: 600;
    color: rgba(0,0,0,.65);
    margin-top: -10px;
}
.img-fluid{
    margin-bottom: 80px;
}
.container-error a{
    text-decoration: none;
}
.btn-error{
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    border-radius: 60px;
    color: #fff;
    width: 120px;
    height: 42px;
    font-weight: 600;
    box-shadow: 0 0 40px 40px var(--main-color) inset, 0 0 0 0 var(--main-color);
    transition: all .45s ease-in-out;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    -webkit-transition: all .45s ease-in-out;
    -moz-transition: all .45s ease-in-out;
    -ms-transition: all .45s ease-in-out;
    -o-transition: all .45s ease-in-out;
}
.btn-error:hover{
    box-shadow: 0 0 10px 0 var(--main-color) inset, 0 0 10px 4px var(--main-color);
    color: #AAA;
}
.btn-up{
    display: none;
}