/* Main Contact */
#main{
    padding-top: 100px;
    width: 100%;
}
.parallax{
    background-image: url("../img/SL-100420-36140-05.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 25px;
}
.horarios{
    background-color: #fff;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
    padding: 35px 20px;
    max-width: 1270px;
}
.horarios h2{
    margin-bottom: 25px;
    color: rgba(0,0,0,.75);
    font-weight: 900;
    font-size: 1.3em;
    text-align: center;
}
.container-horarios{
    height: 400px;
    margin-bottom: 25px;
    font-weight: 600;
}
#dias-horario{
    text-align: left;
}
#tiempo-horario br{
    padding:50px;
}
#tiempo-horario{
    text-align: right;
    display: block;
    position: relative;
    top: -418px;
}
.horas{
    display: block;
    padding: 18px 0;
}
.blue-hr{
    border: none;
    height: 4px;
    background-color: var(--main-color);
}
.support{
    margin: auto;
    width: 70%;
    text-align: center;
}
.support span{
    font-size: 1em;
    font-weight: 600;
}
.support span strong{
    color: #f00;
}
.tiendas{
    padding: 35px 10px;
    padding-bottom: 15px;
}
.tiendas h2{
    color: rgba(0,0,0,.75);
    font-weight: 900;
    font-size: 1.3em;
    margin-bottom: 25px;
}
.tiendas h3{
    font-size: 1em;
    color: #000;
    font-weight: 600;
}
.tiendas span{
    display: block;
    font-weight: 600;
    font-size: .85em;
    color: rgba(0,0,0,0.65);
}
.mapa-selector{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.modals{
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
    height: 300px;
}
#map{
    display: none;
    height: 350px;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
    z-index: 0;
}
#mapa{
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
}
#imgMap{
    width: 100%;
    height: 150px;
    display: block;
    object-fit: cover;
}
.popUp{
    font-weight: 600;
}
.select-map{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 270px;
    background-color: rgba(0,0,0,.90);
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
    padding: 60px;
    color:#fff;
    margin: auto;
}
.select-map h3{
    margin: auto;
    font-size: 1.3em;
    font-weight: 900;
    margin-bottom: 10px;
}
.form-select{
    margin: auto;
    max-width: 300px;
}
.form{
    background-color: #fff;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
    padding: 35px 20px;
    max-width: 500px;
    text-align: center;
    margin: 30px;
    margin-top: -10px;
}
.form h2{
    color: rgba(0,0,0,.75);
    font-size: 1.2em;
    font-weight: 900;
    margin-bottom: 15px;
}
.form h3{
    color: rgba(0,0,0,.75);
    font-size: 1.2em;
    font-weight: 900;
}
textarea{
    margin: auto;
    margin-bottom: 25px;
    resize: none;
    max-width: 500px;
}
label{
    color:grey;
    font-size: 2em;
    width: 50px;
}
input[type = "radio"]{
    display:none;
}
.clasificacion{
    direction: rtl;
    unicode-bidi: bidi-override;
}
label:hover{color:orange;}
label:hover ~ label{
    color:orange;
}
input[type = "radio"]:checked ~ label{
    color:orange;
}
.btn-primary{
    margin-bottom: 20px;
}
.msj{
    color: #f00;
}
@media screen and (min-width:550px) {
    .form{
        margin: auto;
    }
}
@media screen and (min-width:768px){
    .horarios{
        padding: 55px 110px;
    }
    .support{
        width: 40%;
    }
    .tiendas{
        padding: 80px 10px;
        padding-bottom: 50px;
    }
    .form{
        margin: auto;
        margin-top: -40px;
        margin-bottom: 30px;
    }
}
@media screen and (min-width:1200px) {
    .container{
        flex-direction:row;
        justify-content: space-evenly;
        align-items: center;
        padding: 100px 0;
    }
    .tiendas{
        background-color: #fff;
        border-radius: 14px;
        -webkit-border-radius: 14px;
        -moz-border-radius: 14px;
        -ms-border-radius: 14px;
        -o-border-radius: 14px;
        width: 400px;
        height: 350px;
        text-align: center;
    }
    .mapa-selector{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .select-map{
        width: 50%;
        height: 350px;
    }
    #map{
        width: 50%;
    }
}