#main{
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #e5e5f7;
    background-image: radial-gradient(#4F80FC 0.5px, #e5e5f7 0.5px);
    background-size: 10px 10px;
    width: 100%;
}
.main-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.formRegister{
    background-color: #fff;
    margin: auto;
    width: 90%;
    max-width: 400px;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
    padding: 4.5em 3em;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 30%);
    text-align: center;
    height: auto;
}
.formRegister h2{
    font-size: 2rem;
    font-weight: 800;
    color: rgba(0, 0, 0, .75);
}
.formRegister p{
    font-weight: 300;
}
.formRegister p a{
    font-weight: 400;
    color: black;
}
.form-container{
    margin-top: 3em;
    display: grid;
    gap: 2.4em;
}
.form-items{
    position: relative;
    --color: #5757577e;
}
.form-inputs{
    width: 100%;
    background-color: none;
    color: #706c6c;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
}
.form-inputs:not(:placeholder-shown){
    color: #4d4c46;
}
.form-inputs:focus + .form-labels,
.form-inputs:not(:placeholder-shown) + .form-labels{
    transform: translateY(-12px) scale(.7);
    -webkit-transform: translateY(-12px) scale(.7);
    -moz-transform: translateY(-12px) scale(.7);
    -ms-transform: translateY(-12px) scale(.7);
    -o-transform: translateY(-12px) scale(.7);
    transform-origin: left top;
    color: #9670E0;
}
.form-labels{
    color: var(--color);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transition: transform .5s, color .3s;
    -webkit-transition: transform .5s, color .3s;
    -moz-transition: transform .5s, color .3s;
    -ms-transition: transform .5s, color .3s;
    -o-transition: transform .5s, color .3s;
}
.btnSubmit{
    background-color: #9670E0;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    padding: .8em 0;
    border: none;
    border-radius: .5em;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    -ms-border-radius: .5em;
    -o-border-radius: .5em;
    width: 50%;
    margin: auto;
}
.form-line{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #9670E0;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform-origin: left bottom;
    transition: transform .4s;
    -webkit-transition: transform .4s;
    -moz-transition: transform .4s;
    -ms-transition: transform .4s;
    -o-transition: transform .4s;
}
.form-inputs:focus ~ .form-line,
.form-inputs:not(:placeholder-shown) ~ .form-line{
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}
.form-items p{
    /* visibility: hidden; */
    position: absolute;
    font-size: small;
    font-weight: 500;
    text-align: right;
    color:#e74c3c;
}
/* .form-items.falla p {
    visibility: visible;
} */