/* Menu */
.menu{
    width: 100%;
    background-color: #000;
    color: #fff;
    height: 100px;
    border-bottom: 4px solid #4F80FC;
    position: fixed;
    z-index: 5;
}
.menu-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}
.logo{
    margin-right: 30px;
}
#logo{
    width: 60px;
    border-radius: 14%;
    -webkit-border-radius: 14%;
    -moz-border-radius: 14%;
    -ms-border-radius: 14%;
    -o-border-radius: 14%;
}
.menu-logo{
    font-family: 'Zen Antique Soft', serif;
    text-align: center;
    font-size: 1.3em;
}
.menu-logo small{
    letter-spacing: 3px;
}
.menu-links{
    height: 100%;
    transition: transform .5s;
    display: flex;
}
a:hover{
    color: #AAA;
}
#user{
    display: none;
}
.menu-item{
    list-style: none;
    position: relative;
    height: 100%;
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
    --transform: rotate(-90deg);
}
.menu-item:hover{
    --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    --transform: rotate(0);
}
.menu-link{
    display: flex;
    color: #fff;
    text-decoration: none;
    padding: 0 30px;
    display: flex;
    height: 100%;
    align-items: center;
}
.menu-arrow{
    transform: var(--transform);
    transition: transform .3s;
    display: block;
    margin-left: 3px;
}
.menu-nesting{
    list-style: none;
    transition:clip-path .3s;
    clip-path: var(--clip);
    position: absolute;
    right: 0;
    bottom: 0;
    width: max-content;
    transform: translateY(100%);
    background-color: #000;
    border: 1px solid #fff;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
}
.menu-link-inside{
    padding: 30px 100px 30px 20px;
}
.menu-hamburguer{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    display: none;
}
.menu-img{
    display: block;
    width: 36px;
}
#photoUser{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
#icon-exp{
    width: 20px;
}
.iniciarSesion{
    display: none;
}
.infoUser{
   display: none;
}
.expediente{
    display: none;
}
.cerrarSesion{
    display: none;
}
#icon-logout{
    width: 20px;
    position: relative;
    right: -2px;
}
.container-img-submenu{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    background-color: #4E4F50;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
@media screen and (max-width:500px) {
    .logo{
        margin-right: 10px;
        
    }
    .menu-logo{
        font-size: .80em;
    }
}
@media screen and (max-width:1040px){
    .menu-hamburguer{
        display: flex;
    }
    .menu-item{
        --clip:0;
        overflow:hidden ;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .menu-item-active{
        --transform: rotate(0);
    }
    #icon-user{
        display: none;
    }

    #user{
        display: inline;
    }
    .menu-links{
        position: fixed;
        width: 100%;
        height: 570px;
        top: 100px;
        bottom: 0;
        right: 0;
        background-color: #000;
        overflow-y: auto;
        display: grid;
        grid-auto-rows: max-content;
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
}
    .menu-links-show{
        transform: unset;
        width: 100%;
    }
    .menu-link{
        padding: 25px 0;
        height: auto;
    }
    .menu-nesting{
        border-color: #000;
        display: grid;
        position: unset;
        width: 99%;
        transform: translateY(0);
        height: 0;
        transition: height .3s;
    }
    .menu-link-inside{
        width: 90%;
    }
}

/* Footer */
footer{
    width: 100%;
}
footer div{
    padding: 10px;
}
footer a img:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
  }
.footer-redes{
    width: 100%;
    text-align: center;
    padding: 0 45px;
    padding-top: 45px;
    color:#fff;
    background-color: rgba(0,0,0,.90);
    font-size: .8em;
    font-weight: 500;
}
.item-container{
    padding-bottom: 25px;
}
.item-container a{
    text-decoration: none;
    padding: 10px;
}
.item-container img{
    width: 30px;
}
.footer-copy{
    width: 100%;
    background-color: rgba(0,0,0,.85);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}
.footer-span{
    color: #fff;
    text-align: center;
    font-size: .7em;
    padding-left: 50px;
}
.footer-copy a{
    position: relative;
}
.footer-span span{
    display: block;
}
.footer-copy img{
    width: 40px;
}
@media screen and (min-width:768px) {
    .footer-redes{
        font-size: 1em;
        padding: 0 200px;
        padding-top: 45px;
    }
    .item-container img{
        width: 40px;
    }
    .footer-span{
        font-size: 1em;
    }
    .footer-copy{
        height: 80px;
    }
    .footer-copy a{
        left: 100px;
    }
}
@media screen and (min-width:1200px){
    .footer-redes{
        font-size: 1em;
        padding: 0 200px;
        padding-top: 45px;
    }
    .footer-redes{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 230px;
    }
    .footer-copy{
        height: 90px;
    }
    .footer-copy a{
        left: 300px;
    }
    .footer-copy img{
        width: 40px;
    }
}