/* Nav */
.navbar{
    padding: 20px;
    width: 100%;
    font-size: 1.2em;
    text-align: center;
}
.navbar-brand{
    font-size: 1.1em;
    font-weight: 400;
    font-family: 'Zen Antique Soft', serif;
}
.navbar-brand small{
    font-size: .7em;
    letter-spacing: 3px;
}
.nav-link a{
    margin-top: 10px;
}
.dropdown-item{
    background-color: #212529;
    color: #AAA;
}
.dropdown-item:hover{
    color: #CCC;
    background-color: #212529;
}
@media screen and (min-width: 1200px){
    .navbar{
        width: 100%;
        display: block;
    }
    #container{
       width: 100%;
    }
    #container-logo{
        width: 50%;
        display: flex;
        justify-content: left;
        padding-left: 7%;
    }
    .nav-link{
        margin-top: 0;
        margin-left: 40px;
    }
}

/* Footer */
footer{
    width: 100%;
    background-color: rgba(0,0,0,.85);
    height: 100px;
}
.footer-span{
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
}
#span-copy{
    margin-top: 23px;
}