#main{
    width: 100%;
    height: auto;
    padding: 100px 30px;
    text-align: center;
    background-color: var(--secundary-color);
}
.header-services{
    margin-top: 60px ;
    margin-bottom: 30px;
}
.header-services h2{
    color: rgba(0,0,0,.75);
    font-weight: 900;
}
.header-services p{
    color:#777;
}
.row{
    justify-content: center;
    align-items: center;
}
.col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    margin: 10px;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
    min-width: 264px;
    max-width: 370px;
    min-height: 395px;
}
.img-col{
    margin: 30px 0;
    width: 120px;
    height: 120px;
}
.img-col img{
    max-width: 120px;
    min-height: 120px;
    border-radius: 100%;
    object-fit: cover;
}
.xray img{
    border-radius: 21%;
    -webkit-border-radius: 21%;
    -moz-border-radius: 21%;
    -ms-border-radius: 21%;
    -o-border-radius: 21%;
}
.col h3{
    color: #333;
}
.col p{
    color: #AAA;
    margin-bottom: 30px;
}
@media screen and (min-width:1200px) {
    #main{
        padding: 100px 50px;
    }
    .col{
        margin: 30px;
        min-width: 370px;
    }
    .header-services h2{
        font-size: 2em;
    }
    .header-services p{
        font-size: 1.3em;
        width: 70%;
        margin: 50px auto;
    }
}